@model ExampleProject.Model.SignInModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="~/css/loginstylesheet.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Email">Username:</label>
                    <input asp-for="Email" class="form-control" id="username" placeholder="Enter your username">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" for="password">Password:</label>
                    <input asp-for="Password" class="form-control" id="password" placeholder="Enter your password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
